<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>acquisition-platform</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.dangdang.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersDao</display-name>
    <servlet-name>UsersDao</servlet-name>
    <servlet-class>com.dangdang.dao.UsersDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersDao</servlet-name>
    <url-pattern>/UsersDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.dangdang.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryServlet</display-name>
    <servlet-name>QueryServlet</servlet-name>
    <servlet-class>com.dangdang.servlet.QueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryServlet</servlet-name>
    <url-pattern>/QueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryServlet1</display-name>
    <servlet-name>QueryServlet1</servlet-name>
    <servlet-class>com.dangdang.servlet.QueryServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryServlet1</servlet-name>
    <url-pattern>/QueryServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExitServlet</display-name>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>com.dangdang.servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/ExitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.dangdang.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopServlet</display-name>
    <servlet-name>ShopServlet</servlet-name>
    <servlet-class>com.dangdang.servlet.ShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopServlet</servlet-name>
    <url-pattern>/ShopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet</display-name>
    <servlet-name>servlet</servlet-name>
    <servlet-class>com.dangdang.servlet.servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.dangdang.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopServlet1</display-name>
    <servlet-name>ShopServlet1</servlet-name>
    <servlet-class>com.dangdang.servlet.ShopServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopServlet1</servlet-name>
    <url-pattern>/ShopServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InformationServlet</display-name>
    <servlet-name>InformationServlet</servlet-name>
    <servlet-class>com.dangdang.servlet.InformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformationServlet</servlet-name>
    <url-pattern>/InformationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyServlet</display-name>
    <servlet-name>BuyServlet</servlet-name>
    <servlet-class>com.dangdang.servlet.BuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyServlet</servlet-name>
    <url-pattern>/BuyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteShopCarServlet</display-name>
    <servlet-name>DeleteShopCarServlet</servlet-name>
    <servlet-class>com.dangdang.servlet.DeleteShopCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteShopCarServlet</servlet-name>
    <url-pattern>/DeleteShopCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TempServlet</display-name>
    <servlet-name>TempServlet</servlet-name>
    <servlet-class>com.dangdang.servlet.TempServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TempServlet</servlet-name>
    <url-pattern>/TempServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JudgeServlet</display-name>
    <servlet-name>JudgeServlet</servlet-name>
    <servlet-class>com.dangdang.servlet.JudgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JudgeServlet</servlet-name>
    <url-pattern>/JudgeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateShopCarServlet</display-name>
    <servlet-name>UpdateShopCarServlet</servlet-name>
    <servlet-class>com.dangdang.servlet.UpdateShopCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateShopCarServlet</servlet-name>
    <url-pattern>/UpdateShopCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PagingServlet</display-name>
    <servlet-name>PagingServlet</servlet-name>
    <servlet-class>com.dangdang.servlet.PagingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagingServlet</servlet-name>
    <url-pattern>/PagingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JudgeServlet1</display-name>
    <servlet-name>JudgeServlet1</servlet-name>
    <servlet-class>com.dangdang.servlet.JudgeServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JudgeServlet1</servlet-name>
    <url-pattern>/JudgeServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SortByPriceSerlvet</display-name>
    <servlet-name>SortByPriceSerlvet</servlet-name>
    <servlet-class>com.dangdang.servlet.SortByPriceSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortByPriceSerlvet</servlet-name>
    <url-pattern>/SortByPriceSerlvet</url-pattern>
  </servlet-mapping>
</web-app>